/* @media (min-width: 800px) and (max-width: 1280px) {
    .navbar-img {
        left: 48%;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .navbar-img {
        left: 46.5%;
    }
} */

@media (max-width: 1024px) {
    .hero {
        left: 0;
    }

    .navigation {
        height: 100px;
    }

    /* Show Mobile Menu */
    .hamburger {
        display: flex !important;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
    }

    .homepage-videos-wrapper {
        display: flex;
        flex-direction: column;
    }

    .left-nav,
    .right-nav {
        display: none !important;
    }

    .mobile-menu {
        display: flex !important; 
    }

    .navbar-img {
        position: absolute;
        left: 40px;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
    }

    .nav-icon {
        width: 110px;
        height: auto;
    }

    .homepage-videos-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .hero-buttons {
        gap: 20px;
    }

    .homepage-item {
        max-width: 100%;
        width: 90%;
        height: auto;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 540px) {
    .custom-gap {
        gap: 20px;
    }
}