/* @media (min-width: 800px) and (max-width: 1280px) {
    .navbar-img {
        left: 48%;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .navbar-img {
        left: 46.5%;
    }
} */

@media (max-width: 1024px) {
    .hero {
        left: 0;
    }
    .navigation {
        padding: 2rem;
    }

    .navbar-img img{
        width: 150px;
        height: auto;
    }
}

@media (max-width: 912px) {
    .container {
        padding: 0 12px;
    }

    .navigation ul li {
        font-size: 16px;
    }

    /* Show Mobile Menu */
    .hamburger {
        display: flex;
    }

    .navbar-img {
        top: 0;
    }

    .navigation {
        padding: 2.5rem;
    }
    .navbar-img {
        top: 15px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 540px) {
    .navigation {
        padding: 1.5rem;
    }
    .navbar-img img{
        width: 85px;
        height: auto;
    }

    .navbar-img {
        position: relative;
        top: 0;
        left: 10px;
    }

    .navigation ul li {
        font-size: 24px;
    }
}