/* @media (min-width: 800px) and (max-width: 1280px) {
    .navbar-img {
        left: 48%;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .navbar-img {
        left: 46.5%;
    }
} */
@media (max-width: 1280px) {
    .custom-background-section {
        background-size: auto;
    }
}

@media (max-width: 1024px) {
    /* .container-item.custom-size {
        height: auto;
    }

    .container-item.custom-size-large {
        height: auto;
    } */

    .hero {
        height: auto;
    }
    
    .padding-section {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .navigation {
        height: 100px;
    }

    /* Show Mobile Menu */
    .hamburger {
        display: flex !important;
    }

    .homepage-videos-wrapper {
        display: flex;
        flex-direction: column;
    }

    .left-nav,
    .right-nav {
        display: none !important;
    }

    .mobile-menu {
        display: flex !important; 
    }

    .navbar-img {
        position: absolute;
        left: 40px;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
    }

    .nav-icon {
        width: 110px;
        height: auto;
    }

    
    .hero-buttons {
        gap: 20px;
    }
    
    .custom-background-section {
        background: none;
    }
}

@media (max-width: 768px) {
    .container-item-wrapper {
        display: flex;
        flex-direction: column;
    }

    .custom-background-section.dark-background {
        background: none;
    }
}

@media (max-width: 540px) {
    .custom-gap {
        gap: 20px;
    }
}